{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{% static 'assets/favicon.ico' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/main.css' %}" />
    <title>ProblemList</title>
    <style>
        #btn {
            background-color: transparent;
            border: none;
            color: black;
            text-align: center;
            font-size: 1rem;
            opacity: 0.6;
            transition: 0.3s;
            padding-left: 0;
            padding-right: 0;
            font-weight: 600;
            width: 80%;
        }

        #btn:hover {
            opacity: 1;
            background-color: #E4E6E9;
        }

        .myproblem {
            transitionmyproblem-shadow .3s;
            width: 300px;
            height: 500px;
            margin: 50px;
            border-radius: 10px;
            border: 1px solid #ccc;
            background: #fff;
            float: left;

        }

        .myproblem:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        }
        .side-btn:hover {
            transform: scale(1.125);
        }

        h3 {
            opacity: 0.75
        }

        .side-header {
            font-size: 1.125rem;
            font-weight: 750;
        }
    </style>
</head>

<body>
    <nav class=" navbar navbar-expand-lg navbar-dark bg-dark"
        style="position: fixed; width:100%; top: 0px;z-index: 1000;">
        <h3><a class="user btn btn-info" style="background-color: #343a40;border:none"
                onMouseOver="this.style.backgroundColor='#000'" onMouseOut="this.style.backgroundColor='#343a40'"
                href="{% url 'feed' %}"><i class="fas fa-rss-square"></i>&nbsp;Feed</a></h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
        <form action="search" method="POST">
            {% csrf_token %}
            <div class="input-group mb-0">
                <input type="text" name="userid" class="form-control" placeholder="Recipient's username"
                    aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" id="button-addon2"><i
                            class="fas fa-search"></i>&nbsp;Search</button>
                </div>
            </div>
        </form>
        <span
            style="color:white">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <i
                class="fas fa-users"></i>&nbsp;Hello, {{user.name}} &nbsp;</span>
        <span><a class="user btn btn-info" style="background-color: #343a40;border:none"
                onMouseOver="this.style.backgroundColor='#000'" onMouseOut="this.style.backgroundColor='#343a40'"
                href="{% url 'newpost' %}"> <i class="fas fa-plus"></i>&nbsp;NewPost</a>&nbsp;&nbsp;</span>
        <span><a class="user btn btn-info" style="background-color: #343a40;border:none"
                onMouseOver="this.style.backgroundColor='#000'" onMouseOut="this.style.backgroundColor='#343a40'"
                href="profile?profileid={{user.userid}}"> <i class="far fa-user"></i>
                &nbsp;Profile</a>&nbsp;&nbsp;</span>
        <span><a class="user btn btn-info" style="background-color: #343a40;border:none"
                onMouseOver="this.style.backgroundColor='#000'" onMouseOut="this.style.backgroundColor='#343a40'"
                href="chatbox?profileid={{user.userid}}"> <i
                    class="far fa-envelope"></i>&nbsp;Messages</a>&nbsp;&nbsp;</span>
        <span><a class="user btn btn-info" style="background-color: #343a40;border:none"
                onMouseOver="this.style.backgroundColor='#000'" onMouseOut="this.style.backgroundColor='#343a40'"
                href="{% url 'logout' %}"> <i class="fas fa-sign-out-alt"></i>&nbsp;Logout</a>&nbsp;&nbsp;</span>
    </nav>
    <br><br>

    <div
        style="display: flex;overflow-y:scroll;height:90%;justify-content: space-between;width:100vw;margin-top:20px;background-color: #f0f2f5;">
        <div style="width:60%;margin-left: 4vw;">
            {% if messages %}
            {% for message in messages %}
            <div class='alert alert-{{ message.tags }}'>
                <center>{{ message }}</center>
            </div>
            {% endfor %}
            {% endif %}
            <div><br>
                <div style="display: flex;">
                    <h3>Problems</h3>
                    <h3 style="padding-left: 35vw;">Your Score: {{user.score}} / 100</h3>
                </div>
                <br>
                <div style="width:100%;display:flex;height:5vh;justify-content: space-around;">
                    <button id="btn" style="width:32%;border:none;" onclick="easyb()">Easy</button>
                    <div style="width:0.1vw;background-color: black;"></div>
                    <button id="btn" style="width:32%;border:none;" onclick="mediumb()">Medium</button>
                    <div style="width:0.1vw;background-color: black;"></div>
                    <button id="btn" style="width:32%;border:none;" onclick="hardb()">Hard</button>
                </div>
                <div id="Easy" style="display: none;">
                    {% for each in problem %}
                    {% if each.level == "Easy" %}
                    <div class="card myproblem"
                        style="display:flex;width: 100%;height:15vh;margin:0.5vh 0.5vw;align-items: center;padding-top: 1vh;">
                        <table style="margin-left:2vw;">
                            <tr>
                                <td colspan="2"><a class="btn" style="width:40vw;text-align: left;">
                                        <h4>{{each.title}}</h4>
                                    </a></td>
                                <td rowspan="2"><a href="problem?problemid={{each.problemid}}"><button
                                            style="color:green;border:1px solid green;background-color: transparent;width:15vw;height: 5vh;">Solve</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 1vw;width:20vw;">Difficulty: {{each.level}}</td>
                                <td>Success Rate: {{each.rate}}</td>
                            </tr>
                        </table>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div id="Medium" style="display: none;">
                    {% for each in problem %}
                    {% if each.level == "Medium" %}
                    <div class="card mybutton"
                        style="display:flex;width: 100%;height:15vh;margin:0.5vh 0.5vw;align-items: center;padding-top: 1vh;">
                        <table style="margin-left:2vw;">
                            <tr>
                                <td colspan="2"><a class="btn" style="width:40vw;text-align: left;">
                                        <h4>{{each.title}}</h4>
                                    </a></td>
                                <td rowspan="2"><a href="problem?problemid={{each.problemid}}"><button
                                            style="color:green;border:1px solid green;background-color: transparent;width:15vw;height: 5vh;">Solve</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 1vw;width:20vw;">Difficulty: {{each.level}}</td>
                                <td>Success Rate: {{each.rate}}</td>
                            </tr>
                        </table>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
                <div id="Hard" style="display: none;">
                    {% for each in problem %}
                    {% if each.level == "Hard" %}
                    <div class="card mybutton"
                        style="display:flex;width: 100%;height:15vh;margin:0.5vh 0.5vw;align-items: center;padding-top: 1vh;">
                        <table style="margin-left:2vw;">
                            <tr>
                                <td colspan="2"><a class="btn" style="width:40vw;text-align: left;">
                                        <h4>{{each.title}}</h4>
                                    </a></td>
                                <td rowspan="2"><a href="problem?problemid={{each.problemid}}"><button
                                            style="color:green;border:1px solid green;background-color: transparent;width:15vw;height: 5vh;">Solve</button></a>
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-left: 1vw;width:20vw;">Difficulty: {{each.level}}</td>
                                <td>Success Rate: {{each.rate}}</td>
                            </tr>
                        </table>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div style="text-align: center;width:15%;position: fixed;right: 15px;top:12vh;">
            <p class="side-header">IDE</p>
            <p><a class="btn side-btn" id="btn" href="compiler?problemid=false">Online IDE
                </a></p>
            <br>
            <hr>
            <br>
            <p class="side-header">Practice</p>
            <a class="btn side-btn" id="btn" href="problemlist">Problems <br /> (all Problem List)
            </a></p>
            <p><a class="btn side-btn" id="btn" href="problemlistsort">Problems <br /> (by Difficulty Level)
                </a></p>
            <br>
            <hr>
            <!-- <p class="side-header">Contests</p>
                                <p><a class="btn side-btn" id="btn" href="following?userid={{user.userid}}">Present Contests
                                    </a></p>
                                <p><a class="btn side-btn" id="btn" href="following?userid={{user.userid}}">Upcoming Contests
                                    </a></p>
                                <p><a class="btn side-btn" id="btn" href="following?userid={{user.userid}}">Past Contests
                                    </a></p>
                                <hr> -->
            <br>
            <p class="side-header">Administration</p>
            <p><a class="btn side-btn" id="btn" href="admin">Admin
                </a></p>
        </div>
    </div>
</body>
<script type="text/javascript">
    const easyd = document.getElementById('Easy');
    const mediumd = document.getElementById('Medium');
    const hardd = document.getElementById('Hard');

    easyd.style.display = "inline";
    mediumd.style.display = "none";
    hardd.style.display = "none";

    function easyb() {
        easyd.style.display = "inline";
        mediumd.style.display = "none";
        hardd.style.display = "none";
    }

    function mediumb() {
        easyd.style.display = "none";
        mediumd.style.display = "inline";
        hardd.style.display = "none";
    }

    function hardb() {
        easyd.style.display = "none";
        mediumd.style.display = "none";
        hardd.style.display = "inline";
    }
</script>

</html>